$body-bg: #1e1e1e;
$body-color: #ccd1d9;

// kahve bg 433c34

// Colors

$primary: #fda085;
$secondary: #f6d365;
$lightglass: rgba(255, 255, 255, 0.05);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "lightglass": $lightglass,
);

// Settings

$enable-shadows: false;

// Fonts

$font-family-base: "Quicksand", sans-serif;
$font-weight-bolder: 400;

// Borders

$border-radius: 8px;
$border-radius-lg: 8px;
$border-radius-sm: 8px;
