$body-bg: #1e1e1e;
$body-color: #ccd1d9;

// kahve bg 433c34

// Colors

$primary: #fda085;
$secondary: #f6d365;
$brown: #927553;
$cream: #e9cc90;
$navy: #333645;
$coffee: #413525;
$lightglass: rgba(255, 255, 255, 0.05);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "brown": $brown,
  "cream": $cream,
  "navy": $navy,
  "coffee": $coffee,
  "lightglass": $lightglass,
);

// Settings

$enable-shadows: false;

// Fonts

$lead-font-weight: normal;
$font-family-base: "Quicksand", sans-serif;

// Borders

$border-radius: 8px;
$border-radius-lg: 8px;
$border-radius-sm: 8px;
