@import "custom-definitions";

$ph-bg: rgba(30, 30, 30, 0) !default;
$ph-color: $lightglass !default;
$ph-border-radius: $border-radius !default;

$ph-gutter: 0px !default;
$ph-spacer: 15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: 0.8s !default;

@import "node_modules/placeholder-loading/src/scss/placeholder-loading";
