@import "custom-definitions";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

.skill {
  width: 100px;
  height: 100px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: $lightglass;
  border: 10px solid $lightglass;
  margin-bottom: 24px;
  &:after {
    width: 95px;
    height: 95px;
    border-radius: $border-radius;
    content: "";
    position: absolute;
    background: $body-bg;
  }
  > * {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    font-weight: lighter;
  }
}

.kotlin-bg {
  background: rgba(249, 219, 25, 0.8);
  background: linear-gradient(
    90deg,
    rgba(249, 219, 25, 0.8) 0%,
    rgba(242, 99, 33, 0.8) 50%,
    rgba(191, 42, 144, 0.8) 100%
  );
}

.js-bg {
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(
    90deg,
    rgba(235, 215, 76, 0.8) 0%,
    rgba(235, 215, 76, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

.nav-link.active {
  position: relative;
  color: cyan;
  &:after {
    width: 100%;
    height: 20px;
    border-radius: $border-radius;
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    color: grey;
    background: url("/assets/img/menu-link-bg.svg") no-repeat center center;
    background-size: contain;
  }
}

.pp-bg {
  background: url("/assets/img/pp-bg.svg") no-repeat center center;
  background-size: 180px;
}

.inc-logo {
  opacity: 0.5;
  filter: grayscale(1);
  transition: 0.5s all;
  &:hover {
    opacity: 1;
    filter: grayscale(0);
    transition: 0.5s all;
  }
}

.img-shadow {
  border: 1px solid $body-bg;
  background: $primary;
  padding: 3px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
