@import "custom-definitions";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.skill {
  width: 100px;
  height: 100px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: $lightglass;
  margin-bottom: 24px;
  &:after {
    width: 95px;
    height: 95px;
    border-radius: $border-radius;
    content: "";
    position: absolute;
    background: $body-bg;
  }
  > * {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    font-weight: lighter;
  }
}

.kotlin-bg {
  background: rgba(249, 219, 25, 0.8);
  background: linear-gradient(
    90deg,
    $primary 0%,
    rgba(242, 99, 33, 0.8) 50%,
    rgba(191, 42, 144, 0.8) 100%
  );
}

.js-bg {
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(
    90deg,
    $primary 0%,
    rgba(235, 215, 76, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

.java-bg {
  background: $primary;
  background: linear-gradient(
    90deg,
    $primary 0%,
    rgba(231, 111, 0, 1) 50%,
    rgba(83, 130, 161, 1) 100%
  );
}

.db-bg {
  background: rgb(245, 245, 245);
  background: linear-gradient(
    90deg,
    $primary 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(148, 187, 233, 1) 100%
  );
}

.linux-bg {
  background: $primary;
  background: linear-gradient(90deg, $primary 0%, rgba(0, 0, 0, 0) 100%);
}

.pp {
  border: 4px solid $body-bg;
  box-shadow: 5px 5px 0px 0px $primary;
}

.project-img {
  border: 2px solid $body-bg;
  box-shadow: 8px 8px 0px 0px $primary;
}

.nav-link.active {
  font-weight: 600;
}
